body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.header{
    background: url(../img/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}
.width-sizing{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    /* margin-right: 2%; */
}


.li-button{
    text-decoration: none;
    background:linear-gradient(salmon,red);
    color: aliceblue;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 16px;
    
}

.camiliya{
    color: lightcoral;
}

.width-sizing img{
    width: 75%;
    padding-left: 3%;
}

.width-sizing p{
    margin-bottom: 35px;
}

.flex-cont{
    display: flex;
    margin-bottom: 100px;
}

.about{
    background: url("../img/7.png");
    background-repeat: no-repeat;
}


.recipe{
    text-align: center;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 50px;

}

.recipe-card{
  box-shadow: 15px 15px 30px rgba(70, 30, 50, 0.7);
  max-width: 300px;
  margin: auto;
  padding: 18px 20px 0px 20px;
  text-align: center;
  border-radius: 20px;
}


.recipe-card img{
    width: 100%;
     
    border-radius: 10%;
}


.social-media{
    margin: auto;
    max-width: 70%;
    padding: 18px ;
    text-align: center
}

#social-cards{
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 5px 5px 10px rgba(30,30,30.4);
    border-radius: 20px;
}

footer{
    background-color: black;
    text-align: center;
    color: antiquewhite;
    
    padding: 18px;
}





